.NavigationItem {
  scroll-behavior: smooth;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  scroll-behavior: smooth;
  color: #363636;
  text-decoration: none;
  width: fit-content;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  scroll-behavior: smooth;
  color: #f8f7f7;
  position: relative;
  z-index: 4;
}
.NavigationItem a:hover::before,
.NavigationItem a:active::before,
.NavigationItem a.active::before {
  scroll-behavior: smooth;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
}
.NavigationItem a:hover::after,
.NavigationItem a:active::after,
.NavigationItem a.active::after {
  scroll-behavior: smooth;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: rgb(248, 245, 245);
  z-index: -2;
  filter: blur(10px) brightness(40%) contrast(200%);
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: #535353;
    font-weight: bold;
    font-size: 12px;
    font-family: "Segoe UI";
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: white;
    font-size: 14px;
    position: relative;
    z-index: 4;
  }
  .NavigationItem a:hover::before,
  .NavigationItem a:active::before,
  .NavigationItem a.active::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;

    z-index: -1;
  }
  .NavigationItem a:hover::after,
  .NavigationItem a:active::after,
  .NavigationItem a.active::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: rgb(248, 245, 245);
    z-index: -2;
    filter: blur(10px) brightness(40%) contrast(200%);
  }
}
