@media only screen and (min-width: 575px) {
  .tag {
    user-select: none;
    display: inline-block;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    text-align: start;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Segoe UI";
    color: antiquewhite;
    width: 120px;
    height: 30px;
    background-color: #1785a7;
  }

  .progress {
    overflow: hidden;
    background: rgb(104, 104, 104);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: inline-flex;
    height: 25px;
    min-width: 50vw;
    width: 50vw;
    margin: 10px 30px;
  }
  .value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    height: 17px;
  }
}

@media only screen and (max-width: 574px) {
  .tag {
    user-select: none;
    display: inline-block;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    text-align: start;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Segoe UI";
    color: antiquewhite;
    width: 80px;
    height: 20px;
    background-color: #1785a7;
  }

  .progress {
    overflow: hidden;
    background: rgb(104, 104, 104);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 4px;
    display: inline-flex;
    height: 18px;
    min-width: 60vw;
    width: 60vw;
    margin: 10px 10px 10px 10px;
  }
  .value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    height: 12px;
  }
}

.html-value {
  animation: html 4s ease-in 1s 1 forwards;
  /* background: rgb(255, 123, 0); */
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 123, 0),
    rgb(255, 238, 0)
  );
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

.css-value {
  animation: css 4s ease-in 1s 1 forwards;
  /* background: rgb(43, 255, 0); */
  background: linear-gradient(
    to right,
    rgb(1, 77, 35),
    rgb(0, 255, 0),
    rgb(208, 255, 0)
  );
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.react-value {
  animation: react 4s ease-in 1s 1 forwards;
  /* background: rgb(0, 255, 255); */
  background: linear-gradient(
    to right,
    rgb(49, 0, 88),
    rgb(0, 26, 255),
    rgb(0, 255, 255)
  );
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.node-value {
  animation: node 4s ease-in 1s 1 forwards;
  /* background: rgb(0, 255, 255); */
  background: linear-gradient(
    to right,
    rgb(85, 4, 42),
    rgb(141, 16, 93),
    rgb(255, 70, 224)
  );
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.mongo-value {
  animation: mongo 4s ease-in 1s 1 forwards;
  /* background: rgb(0, 255, 255); */
  background: linear-gradient(
    to right,
    rgb(117, 4, 4),
    rgb(190, 29, 29),
    rgb(255, 55, 55)
  );
}
@keyframes mongo {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
