@media only screen and (min-width: 851px) {
  .introduction {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding-top: 10vh;
  }

  .introTxt {
    display: inline-block;
    position: relative;

    left: 4vw;
    width: 50vw;
    vertical-align: middle;
    padding: 2%;
    margin: 0px;
  }
  .ProImg {
    display: inline-block;
    position: relative;
    width: 250px;
    vertical-align: middle;
    padding: 2vw;
    margin: 0 0 0 10vw;
  }
}

@media only screen and (min-width: 575px) and (max-width: 850px) {
  .introduction {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: auto;
    top: 10vh;
  }

  .introTxt {
    display: inline-block;
    position: relative;
    width: 60vw;
    vertical-align: middle;
    padding: 2%;
    margin: 0px;
  }

  .ProImg {
    display: inline-block;
    position: relative;
    width: 30vw;
    vertical-align: middle;
    padding: 3%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 574px) {
  .introduction {
    display: block;
    width: 100vw;
    min-width: 385px;
    height: auto;
    margin: Auto;
  }

  .introTxt {
    display: block;
    position: relative;
    margin: auto;
    min-width: 300px;
    width: 90vw;
    padding: 1vw 1vw 1vw 1.25vw;
  }

  .ProImg {
    display: block;
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 385px;
  }
}

@media only screen and (max-width: 349px) {
  .introduction {
    display: block;
    width: 100vw;
    min-width: 275px;
    height: auto;
    margin: Auto;
  }

  .introTxt {
    display: block;
    position: relative;
    margin: auto;
    min-width: 275px;
    width: 85vw;
    padding: 1vw 1vw 1vw 1vw;
  }

  .ProImg {
    display: block;
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 385px;
  }
}
