.work {
  position: relative;
  width: 100vw;
  min-height: 800px;
  height: auto;
}

.workspace {
  width: 100vw;
}

.hnames {
  font-size: 10vw;
  margin-left: 6vw;
}

.blocks {
  width: 80vw;
  margin: 20px auto;
}

.blocks span {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Switching Btn Css  */

.btnCard {
  width: 100vw;
  height: auto;
}

.bttn {
  display: flex;
  justify-content: space-evenly;
}
