.work {
  margin-top: -100px;
  width: 100vw;
  min-height: 800px;
  height: auto;
}

.workspace {
  width: 100vw;
 
}

.hnames {
  font-size: 8rem;
  margin-left: 6vw;
 
}

.blocks {
  width: 80vw;
  margin: 20px auto;
}

/* something extra */
