@media only screen and (min-width: 800px) {
  .typo1 {
    font-size: 40px;
    color: white;
  }
  .Name {
    font-size: 50px;
    color: rgb(255, 136, 0);
  }
  p {
    color: rgb(117, 117, 117);
  }
}

@media only screen and (min-width: 500px) {
  .typo1 {
    font-size: 30px;
    color: white;
  }
  .Name {
    font-size: 40px;
    color: rgb(255, 136, 0);
  }
  p {
    color: rgb(117, 117, 117);
  }
}

@media only screen and (min-width: 350px) {
  .typo1 {
    font-size: 25px;
    color: white;
  }

  .Name {
    font-size: 35px;
    color: rgb(255, 136, 0);
  }
  p {
    color: rgb(117, 117, 117);
  }
}

@media only screen and (max-width: 349px) {
  .typo1 {
    font-size: 20px;
    color: white;
  }

  .Name {
    font-size: 27px;
    color: rgb(255, 136, 0);
  }
  p {
    font-size: 12px;
    color: rgb(117, 117, 117);
  }
}
