.profilePic {
  display: inherit;
  position: inherit;
  width: inherit;

}

.profilePic img {
  display:inherit;
  max-width: inherit;
  width: inherit;
  height: auto;
  border-radius: 15px;
  filter: grayscale(90%);
}
