.profilePic {
  display: inherit;
  position: inherit;
  width: inherit;
  user-select: none;
}

.profilePic img {
  user-select: none;
  pointer-events: none;
  display: inherit;
  max-width: inherit;
  width: inherit;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  filter: grayscale(90%);
}
