.card {
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.intro {
  margin: inherit;
  padding: inherit;

  width: inherit;
  height: inherit;
}
.intro h1 {
  color: white;
}
.intro p {
  color: rgb(124, 124, 124);
}
.intro span {
  color: rgb(255, 136, 0);
}
