.card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.intro {
  margin: auto auto auto 50px;
  padding: 20px;

  width: 40vw;
  height: auto;
}
.intro h1{
  color: white;
}
.intro p{
  color: rgb(124, 124, 124);
}
.intro span{
  color: rgb(255, 136, 0);
}